<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="org.cts.listeners.TestListener"/>
        <!-- <listener class-name="utils.Listeners.AnnotationTransformer"/> -->
    </listeners>

    <test name="LoginTestTEST">
        <classes>
           <class name="tests.LoginTests"/>
    	  <class name="tests.RandomTest"/>
        </classes>
    </test>
</suite>